@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  background-image: linear-gradient(174.2deg, rgb(255, 244, 228) 7.1%, rgb(240, 246, 238) 67.4%);
  background-attachment: fixed;
  color: #F5FFFA;
}

.exchange {
  width: 90%;
  margin: 25px auto 0;
  padding: 20px 20px 40px;
  border: 3px solid black;
  border-radius: 25px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.7);
}
@media (min-width: 1024px) {
  .exchange {
    width: 60%;
  }
}
@media (min-width: 1240px) {
  .exchange {
    width: 40%;
  }
}
.exchange__title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 15px;
}
.exchange__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.exchange__form .exchange__select, .exchange__form .exchange__input {
  margin-top: 10px;
  font-family: "Roboto Mono", monospace;
  padding: 5px 10px;
  width: 100%;
}
.exchange__form .exchange__label--currency, .exchange__form .exchange__label--money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}
.exchange__form .exchange__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.exchange__form .exchange__buttons .exchange__submit, .exchange__form .exchange__buttons .exchange__clear {
  width: 45%;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "Roboto Mono", monospace;
  padding: 10px 20px;
  border: 2px solid black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
.exchange__form .exchange__buttons .exchange__submit:hover, .exchange__form .exchange__buttons .exchange__clear:hover {
  border-color: white;
  background-color: black;
  color: #F5FFFA;
}
.exchange__form .exchange__buttons .exchange__clear {
  display: none;
}
.exchange__form .exchange__buttons .exchange__clear.active {
  display: block;
  margin-left: 10%;
}

.currency {
  width: 90%;
  margin: 50px auto;
}
@media (min-width: 780px) {
  .currency {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
@media (min-width: 1240px) {
  .currency {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.currency__box {
  position: relative;
  border-radius: 5px;
  padding: 20px;
  border: 3px solid black;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}
.currency__name {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}
.currency__bid, .currency__ask, .currency__result {
  margin-bottom: 5px;
  font-size: 14px;
}
.currency__date {
  margin-top: 25px;
  text-align: center;
  font-size: 12px;
}
.currency__close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
}
.currency__graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border-radius: 50%;
  color: #03C988;
  background-color: rgb(255, 255, 255);
  top: 10px;
  left: 20px;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 40px;
  height: 40px;
  overflow: hidden;
  font-size: 0;
}
.currency__graph.active {
  width: 150px;
  font-size: 15px;
  border-radius: 30px;
}
.currency__graph i {
  font-size: 25px;
  margin-right: 5px;
  margin-left: 7.5px;
}

.bg {
  display: none;
}
.bg.active {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: block;
}

.graph {
  position: fixed;
  z-index: 2;
  top: 10%;
  left: 10%;
  bottom: 10%;
  right: 10%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 5px solid black;
}
.graph__canvas {
  padding: 25px;
}
.graph__close {
  position: fixed;
  top: 12%;
  right: 12%;
  font-size: 25px;
  color: black;
}

.footer {
  position: fixed;
  background-color: black;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.footer a {
  color: blue;
}/*# sourceMappingURL=main.css.map */