@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    // background-image: linear-gradient(to bottom, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../assets/bg-image.jpg);
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    background-attachment: fixed;
    color: #F5FFFA;
}


.exchange{
    width: 90%;
    margin: 25px auto 0;
    padding: 20px 20px 40px;
    border: 3px solid black;
    border-radius: 25px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.7);

    @media(min-width: 1024px){
        width: 60%;
    }

    @media(min-width: 1240px){
        width: 40%;
    }

    &__title{
        text-align: center;
        font-size: 25px;
        margin-bottom: 15px;
    }

    &__form{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        .exchange__select, .exchange__input{
            margin-top: 10px;
            font-family: 'Roboto Mono', monospace;
            padding: 5px 10px;
            width: 100%;

        }

        .exchange__label--currency, .exchange__label--money{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding-bottom: 20px;
        }
        .exchange__buttons{
            display: flex;
            .exchange__submit, .exchange__clear{
                width: 45%;
                align-self: center;
                font-family: 'Roboto Mono', monospace;
                padding: 10px 20px;
                border: 2px solid black;
                transition: .4s;
                cursor: pointer;
    
                &:hover{
                    border-color: white;
                    background-color: black;
                    color: #F5FFFA;
                }
            }

            .exchange__clear{
                display: none;
                &.active{
                    display: block;
                    margin-left: 10%;
                }
            }
        }
    }
}

.currency{
    width: 90%;
    margin: 50px auto;
    position: relative;
    z-index: 1;

    @media (min-width: 780px){
        display: grid;
        grid-template-columns:  1fr 1fr;
        gap: 20px;
    }

    @media (min-width: 1240px){
        grid-template-columns:  1fr 1fr 1fr;
    }


    &__box{
        position: relative;
        z-index: auto;
        border-radius: 5px;
        padding: 20px;
        border: 3px solid black;
        margin-bottom: 25px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__name{
        text-align: center;
        font-size: 24px;
        margin-bottom: 10px;
    }

    &__bid, &__ask, &__result{
        margin-bottom: 5px;
        font-size: 16px;
    }

    &__date{
        margin-top: 25px;
        text-align: center;
        font-size: 12px;
    }

    &__close{
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 25px;
        cursor: pointer;
    }

    &__graph{
        display: flex;
        align-items: center;
        position: absolute;
        border-radius: 50%;
        color: #03C988;
        background-color: rgba(255, 255, 255, 1);
        top: 10px;
        left: 20px;
        font-size: 15px;
        cursor: pointer;
        transition: .4s;
        width: 40px;
        height: 40px;
        overflow: hidden;
        font-size: 0;

        &.active{
            width: 150px;
            font-size: 15px;
            border-radius: 30px;
        }
        i{
            font-size: 25px;
            margin-right: 5px;
            margin-left: 7.5px;
        }
    }
}
.bg{
    display: none;

    &.active{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .7);
        z-index: 999;
        position: fixed;
        display: block;
    }
}
.graph{
    position: absolute;
    z-index: 999;
    top: 10%;
    left: 10%;
    bottom: 10%;
    right: 10%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
   

    &__canvas{
        position: relative;
        padding: 10px;
    }

    &__close{
        position: fixed;
        top: 12%;
        right: 15%;
        font-size: 25px;
        color: black;

        @media (min-width: 1024px){
            right: 12%;
        }
    }

}


.footer{
    position: fixed;
    background-color: black;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    a{
        color: blue
    }
}



